body {
   
    background-color: black;
    color: #ffff

}
#navbar {
    color: #ffff;
    background-color: transparent ! important;
    transition: background-color 200ms linear;
    position: relative;
    
  }
  #inicio {
    position: relative;
    

  }
  #quienes {
    position: relative;
  }
#destacados .image-top {

    height: 278px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}
.card-title{
    color: #ffff;
    text-align: left;
}
.card-text{
    color: #ffff;
}

#tarjetas {
    background-color: info;
}

h2 {
    text-align: center;
    color: #ffff;
}

#iconos{
  display: flex;
  justify-content: space-around ;
    
}

#inicio {
    scroll-behavior: initial;
}

#quienes {
    scroll-behavior: initial;

}
